@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;800&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family:var(--font-family);
    word-wrap: break-word;
}

html, body {
    width:100%;
    overflow-x:hidden
}

:root {
    --primary-color: #fca311;
    --footer-bg: #000;
    --text-color-light: #fff;
    --text-color-dark: #000;
    --font-family: 'Inter', sans-serif;
}


@media only screen and (max-width:575px) {
    .footer_logo, .customer_service, .categories, .quick_links, .my_account, .social_links, div .social_icons a i {
        text-align: center !important;
    }
}