@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;800&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family:var(--font-family);
    word-wrap: break-word;
}

/* Heading 2 & Heading 1 Spacing */
h2, h1 {
    word-spacing: 10px;
    letter-spacing: 5px;
}

html, body {
    width:100%;
    overflow-x:hidden
}

:root {
    --primary-color: #fca311;
    --text-color-light: #fff;
    --navbar-bg: #14213d;
    --text-color-dark: #000;
    --dark-semitransparent: rgba(0,0,0,0.4);
    --grayish-color:#E5E5E5;
    --font-family: 'Inter', sans-serif;
}