@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;800&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family:var(--font-family);
    word-wrap: break-word;
}

/* Heading 2 & Heading 1 Spacing */
h2, h1 {
    word-spacing: 10px;
    letter-spacing: 5px;
}

/* Paragraph Line Height */
p {
    line-height: 30px;
}

html, body {
    width:100%;
    overflow-x:hidden
}

:root {
    --primary-color: #fca311;
    --text-color-light: #fff;
    --navbar-bg: #14213d;
    --text-color-dark: #000;
    --dark-semitransparent: rgba(0,0,0,0.4);
    --grayish-color:#E5E5E5;
    --font-family: 'Inter', sans-serif;
}

/* Hero Section Start */
.hero_section {
    background: url('https://img.freepik.com/premium-photo/set-electrician-tools-equipment-repair-electricity-system-top-view-with-copy-space-banner_106035-1623.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero_text {
    /* margin-top:150px !important; */
    background: var(--dark-semitransparent);
}

/* @media only screen and (max-width:400px) {
    .hero_text {
        margin-top:240px !important;
    }
} */

.shopnow_btn {
    border: 2px solid var(--primary-color);
    background: var(--navbar-bg);
    color:var(--text-color-light)
}

.shopnow_btn:hover {
    border: 2px solid var(--primary-color);
    background: var(--text-color-dark);
    color:var(--text-color-light)
}
/* Hero Section End */

/* About Section Start */
.icon i {
    font-size: 60px;
    color:var(--primary-color)
}
/* About Section End */

/* Top Products Categories Start */
.top_products_categories h2 span {
    color:var(--primary-color)
}

.lighting_fixtures, .tools_and_accessories, .safety_and_protection, .switches_and_outlets {
    box-shadow: -5px 0px 37px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}

.lighting_fixtures:hover, .tools_and_accessories:hover, .safety_and_protection:hover, .switches_and_outlets:hover
{
    transform:scale(1.05)
}

.top_products_categories div div h3 {
    background: rgba(0,0,0,0.4);
    border: 2px solid var(--navbar-bg);
}

.lighting_fixtures {
    background: url('https://t4.ftcdn.net/jpg/06/01/36/13/360_F_601361321_OxT8qbG2KDPQrxvzSnPVtCWjUz29wIIv.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.tools_and_accessories {
    background: url('https://t4.ftcdn.net/jpg/00/49/18/05/360_F_49180552_XzbbXHGjtI0NoQsOXp0obnHZd1vupTkD.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.safety_and_protection {
    background: url('https://t4.ftcdn.net/jpg/03/69/75/59/360_F_369755973_HcLkmzXFZO5MvWFESgZeiK0kOm3KuNB1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.switches_and_outlets {
    background: url('https://img.freepik.com/premium-vector/wall-switch-power-electrical-socket-electricity-turn-plug-realistic-pictures_80590-7105.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
/* Top Products Categories End */

/* Top Products Section Start */
h2 span {
    color:var(--primary-color)
}

.product_card {
    border: 1.5px solid var(--navbar-bg);
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: auto
}

img.card-img-top {
    height: 250px
}

.card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.7);
    transform: scale(1.05)
}

.card-body {
    border-top: 1.5px solid var(--navbar-bg);
    max-height: 30%; /* Adjust the body height ratio */
    padding: 1rem;
    text-overflow: ellipsis;
}

.card-footer {
    border:none
}

.add_to_cart {
    border: 2px solid var(--text-color-dark);
    color:var(--text-color-dark)
}
.add_to_cart:hover {
    border: 2px solid var(--text-color-dark);
    background:var(--navbar-bg);
    color:var(--primary-color)
}

.view_detail {
    border: 2px solid var(--text-color-dark);
    color:var(--text-color-dark)
}

.view_detail:hover {
    border: 2px solid var(--text-color-dark);
    background:var(--navbar-bg);
    color:var(--primary-color)
}

.add_to_wishlist {
    border: 2px solid var(--text-color-dark);
    color:var(--text-color-dark)
}

.add_to_wishlist:hover {
    border: 2px solid var(--text-color-dark);
    background:var(--navbar-bg);
    color:var(--primary-color)
}
/* Top Products Section End */

/* Customers Review Section Start */
.customers-review-section {
    background: url('https://buildingbiologyinstitute.org/wp-content/uploads/2019/03/iStock-157312838-e1561232692729.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.customers-review-section h2 span, .carousel-text i, .carousel-text h5 {
    color: var(--primary-color)
}

.carousel-text h3 {
    color:var(--text-color-light) !important
}

.carousel-text i {
    font-size:80px;
}
/* Customers Review Section End */

/* Newsletter Section Start */
.newsletter_section {
    background:var(--primary-color)
}
/* Newsletter Section End */