@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;800&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family:var(--font-family);
    word-wrap: break-word;
}

/* Heading 2 & Heading 1 Spacing */
h2, h1 {
    word-spacing: 10px;
    letter-spacing: 5px;
}

/* Paragraph Line Height */
p {
    line-height: 30px;
}

html, body {
    width:100%;
    overflow-x:hidden
}

:root {
    --primary-color: #fca311;
    --text-color-light: #fff;
    --navbar-bg: #14213d;
    --text-color-dark: #000;
    --dark-semitransparent: rgba(0,0,0,0.6);
    --grayish-color:#E5E5E5;
    --font-family: 'Montserrat', sans-serif;
}

/* Hero Section Start */
.hero_section {
    background: url('https://img.freepik.com/premium-photo/set-electrician-tools-equipment-repair-electricity-system-top-view-with-copy-space-banner_106035-1623.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero_text {
    margin-top:150px !important;
    background: var(--dark-semitransparent);
}

@media only screen and (max-width:400px) {
    .hero_text {
        margin-top:240px !important;
    }
}

.shopnow_btn {
    border: 2px solid var(--primary-color);
    background: var(--navbar-bg);
    color:var(--text-color-light)
}

.shopnow_btn:hover {
    border: 2px solid var(--primary-color);
    background: var(--text-color-dark);
    color:var(--text-color-light)
}
/* Hero Section End */

.hashtag {
    color:var(--primary-color)
}


.card {
    border: 1.5px solid var(--text-color-dark);
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 420px
}

.card-img-top {
    height: 50%;
}

.card_title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05)
}

.card-body {
    border-top: 1.5px solid var(--text-color-dark);
    max-height: 30%; /* Adjust the body height ratio */
    padding: 1rem;
    text-overflow: ellipsis;
}

.add_to_cart {
    border: 2px solid var(--text-color-dark);
    color:var(--text-color-dark)
}
.add_to_cart:hover {
    border: 2px solid var(--text-color-dark);
    background:var(--navbar-bg);
    color:var(--primary-color)
}

.view_detail {
    border: 2px solid var(--text-color-dark);
    color:var(--text-color-dark)
}

.view_detail:hover {
    border: 2px solid var(--text-color-dark);
    background:var(--navbar-bg);
    color:var(--primary-color)
}

.add_to_wishlist {
    border: 2px solid var(--text-color-dark);
    color:var(--text-color-dark)
}

.add_to_wishlist:hover {
    border: 2px solid var(--text-color-dark);
    background:var(--navbar-bg);
    color:var(--primary-color)
}

.icon i {
    font-size: 60px;
    color:var(--primary-color)
}
